# Environment variables - DO NOT COMMIT YOUR SECRETS!
.env
.env.*

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build folders
dist/
.next/
out/

# Python virtual environment and cache
venv/
__pycache__/
*.pyc

# macOS system files
.DS_Store

# VS Code settings
.vscode/
.venv/